<div class="right" id="right">
  <div class="ideaboard">
    <h2>Idea Board:</h2>
    <h5><%= current_idea_board.title %></h5>
    <% if current_idea_board.empty? %>
      <div class="alert alert-secondary">
        <p>Add cards to this board by clicking the gray circle in the top right corner.</p>
      </div>
    <% else %>
      <% current_idea_board.cards.each do |card| %>
        <%= render partial: "search/card_idea", locals: { card: card } %>
      <% end %>
    <% end %>
  </div>
</div>