<div class="results" style="text-align:center"><h2>Results: Moses</h2></div>
<div class="container">
  <div class="row align-items-start">
    <!--<div class="heading">-->
    <div class="col-5">
      <div class="middle">
        <div id="name"><h3>Characters</h3></div>
        <div id="filter"><img src="icons/filter.svg"></div>
      </div>
    </div>
    <div class="col-6 align-self-center">
      <div id="tags">
        <button type="button" class="btn btn-primary">Verse</button>
        <button type="button" class="btn btn-primary">Passage</button>
        <button type="button" class="btn btn-primary">Song</button>
        <button type="button" class="btn btn-primary">Quote</button>
        <button type="button" class="btn btn-primary">Pictures</button>
        <button type="button" class="btn btn-primary">Video</button>
        <button type="button" class="btn btn-primary">Audio</button>
        <button type="button" class="btn btn-primary">Story</button>
        <button type="button" class="btn btn-primary">Jokes</button>
      </div>
    </div>
    <!--</div>-->
  </div>
</div>


<div class="main">
  <div class="left" id="left">
    <!--Results container -->
    <div class="result">
      <div class="flexible">
        <img class="filetype" src="icons/audio.svg">
        <div class="content">
          <p>lorem impsum asdlf alskdfkljasfd </p>
          <p>asdfasdf</p>
        </div>
        <div class="rightcontent">
          <div><img src="icons/check_yes.svg"></div>
          <div><img src="icons/more_info.svg"></div>

        </div>
      </div>
    </div>

    <!--Results container -->
    <div class="result">
      <div class="flexible">
        <img class="filetype" src="icons/passage.svg">
        <div class="content">
          <p>lorem impsum asdlf alskdfkljasfd </p>
          <p>asdfasdf</p>
        </div>
        <div class="rightcontent">
          <div><img src="icons/check_yes.svg"></div>
          <div><img src="icons/more_info.svg"></div>

        </div>
      </div>
    </div>
    <div class="result">
      <div class="flexible">
        <img class="filetype" src="icons/song.svg">
        <div class="content">
          <p>lorem impsum asdlf alskdfkljasfd </p>
          <p>asdfasdf</p>
        </div>
        <div class="rightcontent">
          <div><img src="icons/check_yes.svg"></div>
          <div><img src="icons/more_info.svg"></div>

        </div>
      </div>
    </div>
    <div class="result">
      <div class="flexible">
        <img class="filetype" src="icons/passage.svg">
        <div class="content">
          <p>lorem impsum asdlf alskdfkljasfd </p>
          <p>asdfasdf</p>
        </div>
        <div class="rightcontent">
          <div><img src="icons/check_yes.svg"></div>
          <div><img src="icons/more_info.svg"></div>

        </div>
      </div>
    </div>

  </div>
  <div class="right" id="right">
    <div class="ideaboard">
      <h2>Idea Board:</h2>
      <h5>Life and Times of Moses</h5>
      <!--Results container -->
      <div class="result">
        <div class="flexible">
          <img class="filetype" src="icons/quote.svg">
          <div class="content">
            <p>lorem impsum asdlf alskdfkljasfd </p>
            <p>asdfasdf</p>
          </div>
          <div class="rightcontent">
            <div><img src="icons/check_yes.svg"></div>
            <div><img src="icons/more_info.svg"></div>

          </div>
        </div>
      </div>
      <!--Results container -->
      <div class="result">
        <div class="flexible">
          <img class="filetype" src="icons/joke.svg">
          <div class="content">
            <p>lorem impsum asdlf alskdfkljasfd </p>
            <p>asdfasdf</p>
          </div>
          <div class="rightcontent">
            <div><img src="icons/check_yes.svg"></div>
            <div><img src="icons/more_info.svg"></div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>