<%# Search Bar %>
<div class="jumbotron jumbotron-fluid">
  <div class="container search">
    <div class="search-hero">
      <i class="fa fa-search"></i>
      <h1 class="search-header">Start Your Search: </h1>
    </div>

    <div class="row">
      <div class="col-sm">
        <h5>Topic</h5>
        <%= form_tag() %>
        <input type="text" class="form-control" placeholder="Topic">
      </div>
      <div class="col-sm">
        <h5>Character</h5>
        <input type="text" class="form-control" placeholder="Character"></div>
      <%#
      <div class="col-sm">
        <h5>Scripture</h5>
        <input type="text" class="form-control" placeholder="Scripture">
      </div>
      %>
    </div>
    <button class="button search-button">Submit</button>
  </div>
</div>