<% title "Missing" %>
<div class="container">
  <div class="row">
    <h1>Uh oh!</h1>
  </div>
  <div class="row">
    <div class="alert alert-danger">
      <p>We couldn't find that page. Please go back and try again.</p>
      <p>If you are lost, try starting over at the <%= link_to("home page", root_path) %></p>
    </div>
  </div>
</div>
