<div class="form-group row">
  <%= form.label(attribute, class: "col-sm-3 col-form-label") %>
  <div class="col-sm-9">
    <%= form.password_field(attribute, class: "form-control") %>
    <%= render partial: "shared/form/errors", locals: { form: form, attribute: attribute } %>
  </div>
</div>